bs4
markdownify
openai
urllib3
stability-sdk
notebook
nbconvert
pyppeteer
pypdf
torch
torchvision
transformers
ipywidgets

mkdocs-glightbox
mkdocs-jupyter
mkdocs-minify-plugin
pymdown-extensions
pygments
mkdocs-material
cairosvg
pillow
