markdownify
urllib3

notebook
nbconvert
pyppeteer
pypdf
ipywidgets

torch
torchvision
transformers

langchain
google-search-results

openai
stability-sdk
cohere

mkdocs-material
mkdocs-glightbox
mkdocs-jupyter
mkdocs-minify-plugin
mkdocs-exclude-search
mkdocs-charts-plugin

pymdown-extensions
pygments
cairosvg
pillow

# promptxai API dependencies
beautifulsoup4
requests
