bs4
markdownify
urllib3

notebook
nbconvert
pyppeteer
pypdf
ipywidgets

torch
torchvision
transformers

openai
stability-sdk

mkdocs-material
mkdocs-glightbox
mkdocs-jupyter
mkdocs-minify-plugin
mkdocs-exclude-search
mkdocs-charts-plugin

pymdown-extensions
pygments
cairosvg
pillow
